<script>
    (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
        w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
        m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://mautic.speedypreneur.com/mtc.js','mt');

    mt('send', 'pageview');
</script>

<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='4e51e400955c8f0087a08c00ebbea3004963b3006699b900c5f97a004d590000';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
