<section>
    <div align="left">
      <script>
        function getRandomInt(max) {
          return Math.floor(Math.random() * max);
        }
        ad0='<center><p><a href="https://short.speedypreneur.com/c661"><img style="max-width: 100%;" src="/assets/img/banners/12MinuteAffiliate.png" target="_blank"/></a></p></cener>'
        ad1='<center><p><a href="https://short.speedypreneur.com/vip-club"><img style="max-width: 100%; text-align: center" src="/assets/img/banners/AffiliateBusiness.png" target="_blank" /></a></p></center>'
        ad2='<center><p><a href="https://short.speedypreneur.com/make-money-blogging"><img style="max-width: 100%; text-align: center" src="/assets/img/banners/BLOXBanner.png" target="_blank" /></a></p></center>'
        ad3='<center><p><a href="https://short.speedypreneur.com/bookpublishing"><img style="max-width: 100%; text-align: center" src="/assets/img/banners/MasteringBookPublishing.png" target="_blank" /></a></p></center>'
        len=4;
        rnd=getRandomInt(len);
        document.writeln(eval("ad"+rnd));
      </script>
    </div>
</section>
